[submodule "hypr"]
	path = hypr
	url = git@github.com:jiahaoxiang2000/hypr-config.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/jiahaoxiang2000/nvim-config.git
[submodule "Code/User"]
	path = Code/User
	url = git@github.com:jiahaoxiang2000/vscode-config.git
[submodule "zed"]
	path = zed
	url = git@github.com:jiahaoxiang2000/zed-conf.git
[submodule ".claude"]
	path = .claude
	url = git@github.com:jiahaoxiang2000/claude-conf.git
