[Unit]
Description=SSH Tunnels to Remote Server (Ports 1080 and 2017)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ssh -NT -o ServerAliveInterval=60 -o ServerAliveCountMax=3 -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=accept-new -L 0.0.0.0:1080:127.0.0.1:1080 -L 0.0.0.0:2017:127.0.0.1:2017 ubuntu@43.139.157.97 -i %h/.ssh/id_github
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
